<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/cabecera}">

<head th:replace="cabecera :: head">
	<meta charset="UTF-8">
	<title>NuevaTienda</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>


<body>
	<!-- Reemplazo de nav-->
	<nav th:replace="cabecera :: navigation"></nav>
	
	<!-- Reemplazo de sidebar-->
	<div class="d-flex" id="wrapper">
		<div th:replace="cabecera :: sidebar"></div>

	
	<div class="container-fluid" layout:fragment="contenido-pagina">
               
         <div class="container">
    <h1>Sistema de Registro de Nuevas Tiendas</h1>
    <hr>
    <h2>Nueva Tienda</h2>

    <form action="#" th:action="@{/tiendas/saveStore}" th:object="${tienda}" method="POST">
        <input type="text" th:field="*{ruc}" pattern="[0-9]+" placeholder="Ingrese Nro de RUC" class="form-control mb-4 col-4">

        <input type="text" th:field="*{nombre}" placeholder="Ingrese Razon Social"  class="form-control mb-4 col-4">

        <input type="text" th:field="*{direccion}" placeholder="Ingrese Direccion Actual"  class="form-control mb-4 col-4">
   
        <button type="submit" class="btn btn-primary col-2"> Guardar Tienda</button>
    </form>

    <hr>

   <!-- <a th:href="@{/}"> Regresar a Lista de Tiendas</a> -->
</div>      
               
               
     </div>
</div>
</body>
	
</html>