<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/cabecera}"><!-- Reemplazo de cabecera plantilla-->

<head th:replace="cabecera :: head">
	<meta charset="UTF-8">
	<title>Lista de Productos</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>


	<!-- Reemplazo de nav-->
	<nav th:replace="cabecera :: navigation"></nav>

	<!-- Reemplazo de sidebar-->
	<div class="d-flex" id="wrapper">
		<div th:replace="cabecera :: sidebar"></div>

		<!-- Page content wrapper-->
		<div id="page-content-wrapper" sec:authorize="isAuthenticated()">
			<div class="container-fluid" layout:fragment="contenido-pagina">

				<div class="container my-3">

					<div class="card-body p-1 shadow-5 text-center">
						<h1 style="color: black;">LISTA DE PRODUCTOS POR TIENDA</h1>
					</div>

				
				</div>


				


				<!-- Page content-->
				<div class="container-fluid" layout:fragment="contenido-pagina" >
					<div class="alert alert-primary p-1">
							<scope class="fs-3">La Tienda: </scope>
							<scope style="color: black;" class="fs-2" th:text="${tiendaElegida.nombre}"></scope>
					</div>

					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a th:href="@{/productoTienda}"	class="btn btn-warning col-2 mb-4 mr-8 align-items-center">+ Agregar Producto</a>		
					</div>
						
					<table border="1" class="table table-striped table-responsive-md">
						<thead class="thead-dark">
							<tr>
								<th>Cod Trx</th>
								<th>Nombre de Producto</th>
								<th>Precio</th>
								<th>Tienda</th>
								<th>Cantidad</th>
								<th class="col-2"> Actions </th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pro : ${productosTienda}">
								<td th:text="${pro.id}"></td>
								<td th:text="${pro.producto.nombre}"></td>
								<td th:text="${pro.producto.precio}"></td>
								<td th:text="${pro.tienda.nombre}"></td>
								<td th:text="${pro.stock}"></td>
								
								<td> 
									<a th:href="@{/actualizarProductoTienda/{id}(id=${pro.id})}"
										class="btn btn-primary">Update</a>
									<a sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"th:href="@{/eliminarProductoTienda/{id}(id=${pro.id})}" class="btn btn-danger">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>


				</div>


			</div>

			<!--OTRO SCRIPTS PARA PAGINAS-->
			<!--<th:block layout:fragment="page-scripts">

				<div id="contenedor" class="card-body p-5 shadow-5 justify-content-center">
					<div th:if="${paginasTotalesPro>1}" class="container my-2 justify-content-center ">
						<div class="row col-sm-10 justify-content-center">
							<div class="row col-sm-12 justify-content-center">
								<h4>Total de registros: [[${cantidadElementosPro}]]</h4>
							</div>
							<div class="d-flex">
								<span th:each="i : ${#numbers.sequence(1,paginasTotalesPro)}">
									<a th:if="${paginaActualPro != i}" th:href="@{'/productos/page/'+${i}}"
										class="btn btn-primary m-1" a>[[${i}]]</a>
									<span th:unless="${paginaActualPro != i}" class="btn btn-success m-1">[[${i}]]</span>
								</span>
							</div>

						</div>
					</div>

				</div>
			</th:block>
-->
		</div>

	</div>

</body>

</html>